VITE_BACKEND_URL=http://localhost:5001
VITE_SUPPORT_MAIL=digital-landscape@ons.gov.uk
VITE_ALERTS_CHANNEL_ID=xxxxxxxxxx
VITE_TECH_RADAR_SUBMISSIONS_URL=https://github.com/ONSdigital/keh-tech-radar-submissions
VITE_GA_CONTAINER_ID=G-XXXXXXXXXX