exclude-queries:
  - "4849211b-ac39-479e-ae78-5694d506cb24" # Dev-only access; acceptable.
  - "c5b31ab9-0f26-4a49-b8aa-4cc064392f4d" # No sensitive data; MFA delete not required.
  - "e592a0c5-5bdb-414c-9066-5dba7cdea370" # Not worth the extra cost.
  - "a2f548f2-188c-4fff-b172-e9a6acb216bd" # Secrets manager does not need more encryption, no private data carried.
  - "98a8f708-121b-455b-ae2f-da3fb59d17e1" # Ignoring CORS rule as S3 Bucket does not need more encryption, no private data carried.
  - "f861041c-8c9f-4156-acfc-5e6e524f5884" # S3 Bucket does not need seperate logging
  - "fc101ca7-c9dd-4198-a1eb-0fbe92e80044" # IAM Groups are used for dev keys, not users.
  - "698ed579-b239-4f8f-a388-baa4bcb13ef8" # Docker Compose does not need seperate healthcheck, AWS handles this.