# Copy this file and remove the .example to create a .env file.
# Do not share or commit the .env file to GitHub

# AWS (mandatory for accessing most of the app)
AWS_SECRET_NAME=/sdp-dev/var/onsdigital
AWS_SECRET_ACCESS_KEY=99999999999999999999
AWS_ACCESS_KEY_ID=99999999999999999999
AWS_DEFAULT_REGION=eu-west-2

# GITHUB API (mandatory for copilot page)
GITHUB_APP_ID=999999
GITHUB_APP_CLIENT_ID=99999999999999999999
GITHUB_APP_CLIENT_SECRET=9999999999999999999999999999999999999999
ORG=ONSDigital

# COGNITO (optional)
COGNITO_USER_POOL_ID=eu-west_9999
COGNITO_USER_POOL_CLIENT_ID=9999999999999999999999999999999999999999
ALB_ARN=

# Authentication is mocked when running locally so by default 'admin' and 'reviewer' access is provided.
# If you want to run locally without those access, then you can set DEV_USER_GROUPS=group1,group2 to limit access to the admin and reviewer pages.
DEV_USER_GROUPS=admin,reviewer
# DEV_USER_GROUPS=group1,group2

# AZURE webhook
AZURE_TENANT_ID=xxxxxxxx
AZURE_CLIENT_ID=xxxxxxxx
AZURE_CLIENT_SECRET=xxxxxxxxx
WEBHOOK_SCOPE=xxxxxxxx
WEBHOOK_URL=xxxxxxxxxx