# Copy this file and remove the .example to create a .env file.
# Do not share or commit the .env file to GitHub

# AWS (only required in deployed environments — not needed for local development)

# AWS_SECRET_NAME=/sdp-dev/var/onsdigital
# AWS_SECRET_ACCESS_KEY=99999999999999999999
# AWS_ACCESS_KEY_ID=99999999999999999999
# AWS_DEFAULT_REGION=eu-west-2

# Set to false to connect to real S3 instead of the local filesystem when running in development mode.

# USE_LOCAL_S3=false

# Authentication is mocked when running locally so by default 'admin' and 'reviewer' access is provided.
# If you want to run locally without the access, then you can set DEV_USER_GROUPS=group1,group2 to limit access to the admin and reviewer pages.

DEV_USER_GROUPS=admin,reviewer
# DEV_USER_GROUPS=group1,group2

# AZURE webhook

AZURE_TENANT_ID=xxxxxxxx
AZURE_CLIENT_ID=xxxxxxxx
AZURE_CLIENT_SECRET=xxxxxxxxx
WEBHOOK_SCOPE=xxxxxxxx
WEBHOOK_URL=xxxxxxxxxx

# GitHub OAuth

GITHUB_APP_CLIENT_ID=xxxxxxxx
GITHUB_APP_CLIENT_SECRET=xxxxxxxx
