.C {
  background-color: #555;
}

.C-Sharp {
  background-color: #178600;
}

.Clojure {
  background-color: #db5855;
}

.cpp {
  background-color: #f34b7d;
}

.CSS {
  background-color: #563d7c;
}

.Dockerfile {
  background-color: #384d54;
}

.Forth {
  background-color: #341708;
}

.FORTRAN {
  background-color: #4d41b1;
}

.FreeMarker {
  background-color: #0050b2;
}

.Go {
  background-color: #375eab;
}

.Groovy {
  background-color: #e69f56;
}

.Handlebars {
  background-color: #01a9d6;
}

.HCL {
  background-color: #493284;
}

.HTML {
  background-color: #e44b23;
}

.Java {
  background-color: #b07219;
}

.JavaScript {
  background-color: #f1e05a;
}

.Kotlin {
  background-color: #f18e33;
}

.LookML {
  background-color: #652b81;
}

.Makefile {
  background-color: #427819;
}

.Perl {
  background-color: #0298c3;
}

.PHP {
  background-color: #4f5d95;
}

.PLSQL {
  background-color: #dad8d8;
}

.Puppet {
  background-color: #302b6d;
}

.PureBasic {
  background-color: #5a6986;
}

.Python {
  background-color: #3572a5;
}

.R {
  background-color: #198ce7;
}

.Rebol {
  background-color: #358a5b;
}

.Ruby {
  background-color: #701516;
}

.SAS {
  background-color: #b34936;
}

.Scala {
  background-color: #dc322f;
}

.Scheme {
  background-color: #1e4aec;
}

.Shell {
  background-color: #89e051;
}

.Tcl {
  background-color: #e4cc98;
}

.TeX {
  background-color: #3d6117;
}

.TypeScript {
  background-color: #2b7489;
}

.Visual-Basic {
  background-color: #945db7;
}
